/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(32, 82, 203); /* Add a background color to ensure header visibility */
  z-index: 1000; /* Set a high z-index value to keep header on top */
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; /* Add padding to body to offset content under fixed header */
}

/* Container styles */
.container {
  width: 100%;
  background-color: #dcdcdc;
  padding: 5%;
  box-shadow: 0 0 2% rgba(0, 0, 0, 0.1);
  text-align: center;
}




.logo img {
  max-width: 150px; /* Adjust size as needed */
  height: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ff6600;
}

/* Main content styles */
main {
  padding: 20px 0;
}

main h2 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 20px;
}

main p {
  color: #000000;
  line-height: 1.6;
}

/* Footer styles */
footer {
  margin-top: 50px;
  font-size: 14px;
  color: #ffffff;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

/* CSS for styling - from ChatGPT */
.section {
  margin-bottom: 40px;
  overflow: hidden;
}
.section img {
  float: center;
  
}
.section p {
  margin-top: 0;
}

.review-image {
  width: 100%;
}